<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<div class="alert alert-success" role="alert">
  <p>There are <%= link_to "#{@Products.count} products", admin_products_path %></p>
  <p>There are <%= link_to "#{@Categories.count} categories", root_path %></p>
</div>
